OjekOnlineApp/src/conf/xml-resources/web-service-references/EditPrefService/wsdl/localhost_8080/OjekOnlineService/EditPrefService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ojekonlineservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ojekonlineservice/">

<xs:element name="addPreference" type="tns:addPreference"/>

<xs:element name="addPreferenceResponse" type="tns:addPreferenceResponse"/>

<xs:element name="deletePreference" type="tns:deletePreference"/>

<xs:element name="deletePreferenceResponse" type="tns:deletePreferenceResponse"/>

<xs:element name="updatePreference" type="tns:updatePreference"/>

<xs:element name="updatePreferenceResponse" type="tns:updatePreferenceResponse"/>

<xs:complexType name="addPreference">
<xs:sequence>
<xs:element name="accountID" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPreferenceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePreference">
<xs:sequence>
<xs:element name="prefID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePreferenceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePreference">
<xs:sequence>
<xs:element name="prefID" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePreferenceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>