OjekOnlineApp/src/conf/xml-resources/web-service-references/EditPrefService/wsdl/localhost_8080/OjekOnlineService/EditPrefService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ojekonlineservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ojekonlineservice/" name="EditPrefService">
<types>
<xsd:schema>
<xsd:import namespace="http://ojekonlineservice/" schemaLocation="http://localhost:8080/OjekOnlineService/EditPrefService?xsd=1"/>
</xsd:schema>
</types>
<message name="updatePreference">
<part name="parameters" element="tns:updatePreference"/>
</message>
<message name="updatePreferenceResponse">
<part name="parameters" element="tns:updatePreferenceResponse"/>
</message>
<message name="addPreference">
<part name="parameters" element="tns:addPreference"/>
</message>
<message name="addPreferenceResponse">
<part name="parameters" element="tns:addPreferenceResponse"/>
</message>
<message name="deletePreference">
<part name="parameters" element="tns:deletePreference"/>
</message>
<message name="deletePreferenceResponse">
<part name="parameters" element="tns:deletePreferenceResponse"/>
</message>
<portType name="EditPrefService">
<operation name="updatePreference">
<input wsam:Action="http://ojekonlineservice/EditPrefService/updatePreferenceRequest" message="tns:updatePreference"/>
<output wsam:Action="http://ojekonlineservice/EditPrefService/updatePreferenceResponse" message="tns:updatePreferenceResponse"/>
</operation>
<operation name="addPreference">
<input wsam:Action="http://ojekonlineservice/EditPrefService/addPreferenceRequest" message="tns:addPreference"/>
<output wsam:Action="http://ojekonlineservice/EditPrefService/addPreferenceResponse" message="tns:addPreferenceResponse"/>
</operation>
<operation name="deletePreference">
<input wsam:Action="http://ojekonlineservice/EditPrefService/deletePreferenceRequest" message="tns:deletePreference"/>
<output wsam:Action="http://ojekonlineservice/EditPrefService/deletePreferenceResponse" message="tns:deletePreferenceResponse"/>
</operation>
</portType>
<binding name="EditPrefServicePortBinding" type="tns:EditPrefService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updatePreference">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPreference">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePreference">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EditPrefService">
<port name="EditPrefServicePort" binding="tns:EditPrefServicePortBinding">
<soap:address location="http://localhost:8080/OjekOnlineService/EditPrefService"/>
</port>
</service>
</definitions>