OjekOnlineApp/src/conf/xml-resources/web-service-references/ProfileService/wsdl/localhost_8080/OjekOnlineService/ProfileService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ojekonlineservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ojekonlineservice/" name="ProfileService">
<types>
<xsd:schema>
<xsd:import namespace="http://ojekonlineservice/" schemaLocation="http://localhost:8080/OjekOnlineService/ProfileService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPrefLoc">
<part name="parameters" element="tns:getPrefLoc"/>
</message>
<message name="getPrefLocResponse">
<part name="parameters" element="tns:getPrefLocResponse"/>
</message>
<message name="getRatingVote">
<part name="parameters" element="tns:getRatingVote"/>
</message>
<message name="getRatingVoteResponse">
<part name="parameters" element="tns:getRatingVoteResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="updateProfile">
<part name="parameters" element="tns:updateProfile"/>
</message>
<message name="updateProfileResponse">
<part name="parameters" element="tns:updateProfileResponse"/>
</message>
<portType name="ProfileService">
<operation name="getPrefLoc">
<input wsam:Action="http://ojekonlineservice/ProfileService/getPrefLocRequest" message="tns:getPrefLoc"/>
<output wsam:Action="http://ojekonlineservice/ProfileService/getPrefLocResponse" message="tns:getPrefLocResponse"/>
</operation>
<operation name="getRatingVote">
<input wsam:Action="http://ojekonlineservice/ProfileService/getRatingVoteRequest" message="tns:getRatingVote"/>
<output wsam:Action="http://ojekonlineservice/ProfileService/getRatingVoteResponse" message="tns:getRatingVoteResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://ojekonlineservice/ProfileService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ojekonlineservice/ProfileService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="updateProfile">
<input wsam:Action="http://ojekonlineservice/ProfileService/updateProfileRequest" message="tns:updateProfile"/>
<output wsam:Action="http://ojekonlineservice/ProfileService/updateProfileResponse" message="tns:updateProfileResponse"/>
</operation>
</portType>
<binding name="ProfileServicePortBinding" type="tns:ProfileService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPrefLoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRatingVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProfileService">
<port name="ProfileServicePort" binding="tns:ProfileServicePortBinding">
<soap:address location="http://localhost:8080/OjekOnlineService/ProfileService"/>
</port>
</service>
</definitions>