OjekOnlineApp/src/conf/xml-resources/web-service-references/ProfileService/wsdl/localhost_8080/OjekOnlineService/ProfileService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ojekonlineservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ojekonlineservice/">

<xs:element name="getAccount" type="tns:getAccount"/>

<xs:element name="getAccountResponse" type="tns:getAccountResponse"/>

<xs:element name="getPrefLoc" type="tns:getPrefLoc"/>

<xs:element name="getPrefLocResponse" type="tns:getPrefLocResponse"/>

<xs:element name="getRatingVote" type="tns:getRatingVote"/>

<xs:element name="getRatingVoteResponse" type="tns:getRatingVoteResponse"/>

<xs:element name="updateProfile" type="tns:updateProfile"/>

<xs:element name="updateProfileResponse" type="tns:updateProfileResponse"/>

<xs:complexType name="getAccount">
<xs:sequence>
<xs:element name="accountID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProfile">
<xs:sequence>
<xs:element name="accountID" type="xs:int"/>
<xs:element name="fullname" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="isDriver" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPrefLoc">
<xs:sequence>
<xs:element name="accountID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPrefLocResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRatingVote">
<xs:sequence>
<xs:element name="accountID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRatingVoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>