OjekOnlineApp/web/WEB-INF/wsdl/localhost_8080/OrderService/OrderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ojekonlineservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ojekonlineservice/" name="OrderService">
<types>
<xsd:schema>
<xsd:import namespace="http://ojekonlineservice/" schemaLocation="http://localhost:8080/OrderService/OrderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getSpesific">
<part name="parameters" element="tns:getSpesific"/>
</message>
<message name="getSpesificResponse">
<part name="parameters" element="tns:getSpesificResponse"/>
</message>
<message name="inputOrder">
<part name="parameters" element="tns:inputOrder"/>
</message>
<message name="inputOrderResponse">
<part name="parameters" element="tns:inputOrderResponse"/>
</message>
<message name="getDriverRatingVote">
<part name="parameters" element="tns:getDriverRatingVote"/>
</message>
<message name="getDriverRatingVoteResponse">
<part name="parameters" element="tns:getDriverRatingVoteResponse"/>
</message>
<message name="getDriverAll">
<part name="parameters" element="tns:getDriverAll"/>
</message>
<message name="getDriverAllResponse">
<part name="parameters" element="tns:getDriverAllResponse"/>
</message>
<message name="getHistory">
<part name="parameters" element="tns:getHistory"/>
</message>
<message name="getHistoryResponse">
<part name="parameters" element="tns:getHistoryResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="getSelectedDriver">
<part name="parameters" element="tns:getSelectedDriver"/>
</message>
<message name="getSelectedDriverResponse">
<part name="parameters" element="tns:getSelectedDriverResponse"/>
</message>
<portType name="OrderService">
<operation name="getSpesific">
<input wsam:Action="http://ojekonlineservice/OrderService/getSpesificRequest" message="tns:getSpesific"/>
<output wsam:Action="http://ojekonlineservice/OrderService/getSpesificResponse" message="tns:getSpesificResponse"/>
</operation>
<operation name="inputOrder">
<input wsam:Action="http://ojekonlineservice/OrderService/inputOrderRequest" message="tns:inputOrder"/>
<output wsam:Action="http://ojekonlineservice/OrderService/inputOrderResponse" message="tns:inputOrderResponse"/>
</operation>
<operation name="getDriverRatingVote">
<input wsam:Action="http://ojekonlineservice/OrderService/getDriverRatingVoteRequest" message="tns:getDriverRatingVote"/>
<output wsam:Action="http://ojekonlineservice/OrderService/getDriverRatingVoteResponse" message="tns:getDriverRatingVoteResponse"/>
</operation>
<operation name="getDriverAll">
<input wsam:Action="http://ojekonlineservice/OrderService/getDriverAllRequest" message="tns:getDriverAll"/>
<output wsam:Action="http://ojekonlineservice/OrderService/getDriverAllResponse" message="tns:getDriverAllResponse"/>
</operation>
<operation name="getHistory">
<input wsam:Action="http://ojekonlineservice/OrderService/getHistoryRequest" message="tns:getHistory"/>
<output wsam:Action="http://ojekonlineservice/OrderService/getHistoryResponse" message="tns:getHistoryResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ojekonlineservice/OrderService/getHistory/Fault/SQLException"/>
</operation>
<operation name="getSelectedDriver">
<input wsam:Action="http://ojekonlineservice/OrderService/getSelectedDriverRequest" message="tns:getSelectedDriver"/>
<output wsam:Action="http://ojekonlineservice/OrderService/getSelectedDriverResponse" message="tns:getSelectedDriverResponse"/>
</operation>
</portType>
<binding name="OrderServicePortBinding" type="tns:OrderService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSpesific">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inputOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverRatingVote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getSelectedDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrderService">
<port name="OrderServicePort" binding="tns:OrderServicePortBinding">
<soap:address location="http://localhost:8080/OrderService/OrderService"/>
</port>
</service>
</definitions>