OjekOnlineApp/web/WEB-INF/wsdl/localhost_8080/OjekIdentityService/AccountService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ojekidentityservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ojekidentityservice/" name="AccountService">
<types>
<xsd:schema>
<xsd:import namespace="http://ojekidentityservice/" schemaLocation="http://localhost:8080/OjekIdentityService/AccountService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateAccount">
<part name="parameters" element="tns:updateAccount"/>
</message>
<message name="updateAccountResponse">
<part name="parameters" element="tns:updateAccountResponse"/>
</message>
<message name="getAccountByID">
<part name="parameters" element="tns:getAccountByID"/>
</message>
<message name="getAccountByIDResponse">
<part name="parameters" element="tns:getAccountByIDResponse"/>
</message>
<message name="getAllDriver">
<part name="parameters" element="tns:getAllDriver"/>
</message>
<message name="getAllDriverResponse">
<part name="parameters" element="tns:getAllDriverResponse"/>
</message>
<portType name="AccountService">
<operation name="updateAccount">
<input wsam:Action="http://ojekidentityservice/AccountService/updateAccountRequest" message="tns:updateAccount"/>
<output wsam:Action="http://ojekidentityservice/AccountService/updateAccountResponse" message="tns:updateAccountResponse"/>
</operation>
<operation name="getAccountByID">
<input wsam:Action="http://ojekidentityservice/AccountService/getAccountByIDRequest" message="tns:getAccountByID"/>
<output wsam:Action="http://ojekidentityservice/AccountService/getAccountByIDResponse" message="tns:getAccountByIDResponse"/>
</operation>
<operation name="getAllDriver">
<input wsam:Action="http://ojekidentityservice/AccountService/getAllDriverRequest" message="tns:getAllDriver"/>
<output wsam:Action="http://ojekidentityservice/AccountService/getAllDriverResponse" message="tns:getAllDriverResponse"/>
</operation>
</portType>
<binding name="AccountServicePortBinding" type="tns:AccountService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AccountService">
<port name="AccountServicePort" binding="tns:AccountServicePortBinding">
<soap:address location="http://localhost:8080/OjekIdentityService/AccountService"/>
</port>
</service>
</definitions>