OjekOnlineApp/web/WEB-INF/wsdl/localhost_8080/OjekOnlineService/HistoryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ojekonlineservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ojekonlineservice/" name="HistoryService">
<types>
<xsd:schema>
<xsd:import namespace="http://ojekonlineservice/" schemaLocation="http://localhost:8080/OjekOnlineService/HistoryService?xsd=1"/>
</xsd:schema>
</types>
<message name="getHistoryPassenger">
<part name="parameters" element="tns:getHistoryPassenger"/>
</message>
<message name="getHistoryPassengerResponse">
<part name="parameters" element="tns:getHistoryPassengerResponse"/>
</message>
<message name="getHistoryDriver">
<part name="parameters" element="tns:getHistoryDriver"/>
</message>
<message name="getHistoryDriverResponse">
<part name="parameters" element="tns:getHistoryDriverResponse"/>
</message>
<message name="updateHideStatus">
<part name="parameters" element="tns:updateHideStatus"/>
</message>
<message name="updateHideStatusResponse">
<part name="parameters" element="tns:updateHideStatusResponse"/>
</message>
<portType name="HistoryService">
<operation name="getHistoryPassenger">
<input wsam:Action="http://ojekonlineservice/HistoryService/getHistoryPassengerRequest" message="tns:getHistoryPassenger"/>
<output wsam:Action="http://ojekonlineservice/HistoryService/getHistoryPassengerResponse" message="tns:getHistoryPassengerResponse"/>
</operation>
<operation name="getHistoryDriver">
<input wsam:Action="http://ojekonlineservice/HistoryService/getHistoryDriverRequest" message="tns:getHistoryDriver"/>
<output wsam:Action="http://ojekonlineservice/HistoryService/getHistoryDriverResponse" message="tns:getHistoryDriverResponse"/>
</operation>
<operation name="updateHideStatus">
<input wsam:Action="http://ojekonlineservice/HistoryService/updateHideStatusRequest" message="tns:updateHideStatus"/>
<output wsam:Action="http://ojekonlineservice/HistoryService/updateHideStatusResponse" message="tns:updateHideStatusResponse"/>
</operation>
</portType>
<binding name="HistoryServicePortBinding" type="tns:HistoryService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getHistoryPassenger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistoryDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateHideStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HistoryService">
<port name="HistoryServicePort" binding="tns:HistoryServicePortBinding">
<soap:address location="http://localhost:8080/OjekOnlineService/HistoryService"/>
</port>
</service>
</definitions>