OjekOnlineApp/src/conf/xml-resources/web-service-references/HistoryService/wsdl/localhost_8080/OjekOnlineService/HistoryService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ojekonlineservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ojekonlineservice/">

<xs:element name="getHistoryDriver" type="tns:getHistoryDriver"/>

<xs:element name="getHistoryDriverResponse" type="tns:getHistoryDriverResponse"/>

<xs:element name="getHistoryPassenger" type="tns:getHistoryPassenger"/>

<xs:element name="getHistoryPassengerResponse" type="tns:getHistoryPassengerResponse"/>

<xs:element name="updateHideStatus" type="tns:updateHideStatus"/>

<xs:element name="updateHideStatusResponse" type="tns:updateHideStatusResponse"/>

<xs:complexType name="updateHideStatus">
<xs:sequence>
<xs:element name="transactionID" type="xs:string" minOccurs="0"/>
<xs:element name="isDriver" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateHideStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoryPassenger">
<xs:sequence>
<xs:element name="passengerID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoryPassengerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoryDriver">
<xs:sequence>
<xs:element name="driverID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoryDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>